@media screen and (max-width: 820px) {
  #homesignup {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .profilecart {
    flex-direction: column;
    flex: 200px;
    text-align: center;
    margin-top: 5%;
  }
  .profilecart > * {
    margin-top: 2%;
  }
  .profilecard > div:nth-child(2) {
    text-align: center !important;
  }
  footer {
    font-size: 1rem;
  }
  .basic-details {
    flex-direction: column;
    align-content: space-around;
    text-align: center;
  }
  .basic-details > div {
    margin-bottom: 5%;
  }
  .detail-flex {
    flex-direction: column;
  }

  .custom-grid{
    margin: 0 2rem !important;
  }
  .filter-grid{
    grid-column: 1/5;
    margin-bottom: 5%;
  }
  .result-grid{
    grid-column: 1/5;
    text-align: center !important;
  }
  .contentBox{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
  }

  .contentBox .content {
    width: 300px;
    height: 200px;
  }

  .contentBox .imgBx {
    width: 200px;
    height: 200px;
    margin:0 auto;
  }
  
  .contentBox .imgBx::before {
    width: 100px;
    height: 100px;
  }
}
