* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
  font-family: "Anek Malayalam", sans-serif;
}

:root {
  --main-color: #198754;
  --second-color: #192f6a;
  --text-color: #314862;
  --bg-color: #fff;
  --box-shadow: 2px 2px 18px rgba(14, 52, 54, 0.15);
  --border-radius: 1rem 0 1rem 1rem;
  --font-bold: 700;
  --font-normal: 500;
  --font-light: 300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(1) contrast(1);
}

h1 {
  font-size: 2.5rem;
  color: var(--second-color);
}

a {
  color: var(--second-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.login-form input,
.footer-form input {
  width: 100%;
  display: block;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 0.9rem;
  border: 2px solid var(--main-color);
  font-weight: var(--font-bold);
  outline: none;
  margin: 0.5rem 0;
}

/* CSS Starts Here */
.container {
  margin-top: 8rem !important;
  padding: 10px;
}

header {
  display: block;
  padding: 1% 1%;
  width: 100%;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid var(--main-color);
}

.upper-header {
  padding: 5px 0;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo img {
  width: 3rem;
  height: 3rem;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 2px solid var(--main-color);
}

.weather {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  color: var(--main-color);
  font-size: 0.9rem;
  display: none;
}

.weather .fa-solid {
  font-size: 0.6rem;
}

.main-search {
  display: flex;
  align-items: center;
}
.search-form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.5rem 0.5rem;
  border-radius: var(--border-radius);
  flex-direction: row;
  display: none;
}

.search-form input,
.search-form button {
  display: inline;
  margin: 0.5rem;
}

.search-form input {
  width: 100%;
  display: block;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 0.9rem;
  border: 2px solid var(--main-color);
  font-weight: var(--font-bold);
  outline: none;
  margin: 0.5rem 0;
}

.nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.small-navbar {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-bold);
  color: var(--text-color);
  text-transform: uppercase;
}

#logo {
  font-size: 1.2rem;
  color: var(--main-color);
}
.fa-solid {
  font-size: 1.1rem;
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: var(--font-normal);
}

.logo-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#search-icon {
  cursor: pointer;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon,
#menu-close {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: var(--second-color);
}
#menu-close {
  display: none;
}
#theme-change {
  cursor: pointer;
}

.btn {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--main-color);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  text-align: center;
}

.btn:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.3s all ease-out;
  cursor: pointer;
}
/* Header End */

.home {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
}

.home-img {
  flex: 2;
}

.home-text {
  flex: 1;
  padding-left: 2rem;
}

.home-text h1,
.home-text h1 > .fa-people-group {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  gap: 2rem;
  align-items: center;
}

.about-img img {
  border-radius: var(--border-radius);
}

.about-text h1 {
  text-transform: uppercase;
  font-weight: var(--font-normal);
}

.about-text h2 {
  font-size: 1.7rem;
}

/* USPs */

.sales {
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.sales .box {
  height: minmax(200px, 250px);
  padding: 2rem;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: var(--border-radius);
}

.sales .box:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  border: 1px solid var(--main-color);
  transition: 0.2s all linear;
}

.sales .box .fa-solid {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 1rem;
}

.sales .box h3 {
  font-size: 1.3rem;
}

.sales .box p {
  font-size: 1rem;
}
/* Locals */

.locals {
  margin-top: 1rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 1.7rem;
}

.heading p {
  font-size: 1rem;
}

/* Profiles */

.profiles {
  margin: 1rem auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.profiles .box {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profiles .box:hover,
.listing-profile:hover {
  transform: scale(1.02);
  transition: 0.25s all linear;
}

.profiles .box img {
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.profiles .box > h3 {
  font-size: 1.2rem;
  font-weight: var(--font-bold);
  text-align: right;
  color: var(--main-color);
}

.profiles .box .content {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.profiles .box .btn {
  display: flex;
  justify-content: center;
}

.profiles .box .content .text h3 {
  font-size: 1.2rem;
  font-weight: var(--font-bold);
}

.profiles .box .content .text p {
  font-size: 0.9rem;
  font-weight: var(--font-light);
}

.profiles .box .content .text .fa-solid {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
}

/* Footer */

.footer {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  color: var(--bg-color);
  margin-top: 3rem;
}

.footer-form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.5rem 0.5rem;
  border-radius: var(--border-radius);
}

.footer-components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
}

.footer h2 {
  font-size: 2rem;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
}

.footer-box a {
  color: var(--bg-color);
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.footer-box a:hover {
  color: var(--second-color);
}

.social-links a {
  color: var(--bg-color);
  font-size: 1.1rem;
  margin-right: 0.2rem;
}

.upper-header .social-links a {
  color: var(--main-color);
}

.upper-header .social-links a:hover {
  color: var(--second-color);
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.newsletter h2 {
  font-size: 1.5rem !important;
}

/* Copywrite */
.copyright {
  margin-top: 2rem;
}
.copyright h3 {
  color: var(--bg-color);
  text-align: center;
  font-size: 1.5rem;
}

/* Login Page */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login-form label {
  display: block;
}

.login-content {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  min-width: 300px;
}

.forgotpass {
  display: block;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--main-color);
  padding: 1rem 0;
  text-align: right;
}

/* SignUp Page */

.accountexist {
  display: block;
  margin-top: 1.5rem;
  border-top: 2px solid var(--main-color);
  padding: 1rem 0;
}

/* Coupon */

#coupon {
  display: none;
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentBox {
  position: relative;
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  box-shadow: var(--box-shadow);
}

.contentBox .imgBx {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .imgBx::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.contentBox .imgBx img {
  position: relative;
  max-width: 250px;
  border-radius: 50%;
  z-index: 10;
}

.contentBox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox .content h3 {
  color: var(--bg-color);
  line-height: 1em;
  font-weight: bolder;
  font-size: 2em;
}
.contentBox .content h4 {
  font-size: 1em;
  line-height: 1em;
  color: var(--bg-color);
}
.contentBox .content span {
  color: var(--second-color);
  font-size: 1.25em;
  text-transform: uppercase;
}
.contentBox .content p {
  font-weight: bold;
}

.content div > .btn {
  display: inline;
  position: absolute;
  margin-top: 1.5rem;
  background-color: var(--bg-color);
  color: var(--main-color);
}
.content div > .btn:hover {
  background-color: var(--second-color);
  color: var(--bg-color);
}

#closeCoupon {
  position: absolute;
  top: 20px;
  left: 90%;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
  color: var(--bg-color);
}

/* Detail Page */
.profile-pic {
  width: 150px;
  height: 150px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.profile-detail h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-name h1 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.profile-name p {
  margin-bottom: 0;
}

.basic-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
  padding: 2%;
}
.detail-flex {
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding: 1%;
}
.detail-heading {
  flex: 2;
  margin-bottom: 0.5rem;
}

.detail-heading h3 {
  font-size: 1.2rem;
}
.detail-description {
  flex: 5;
}

.hireme p {
  margin-bottom: 0.8rem;
}

.hireme a {
  margin: 0.5rem;
}

/* Review Cart */

.review-details .detail-flex {
  box-shadow: var(--box-shadow);
}

.review-details h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.review-details .review-profile h3 {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.review-profile {
  align-items: flex-start;
  font-size: 0.6rem;
}

.review-profile > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid var(--main-color);
}

/* Listing Page */

.custom-grid {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.filter-grid {
  flex: 1;
}

.result-grid {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.filter-form {
  display: none;
}
.display-block {
  display: block;
}

.filter-content p {
  font-weight: var(--font-bold);
  color: var(--second-color);
}

.filter-form {
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.filter-form .btn {
  max-width: 50%;
}

.filter-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.listing-profile {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: var(--box-shadow);
  width: minmax(250px, 500px);
  flex-wrap: wrap;
}

.listing-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.listing-image,
.listing-content .btn {
  margin: 0 auto;
  margin-top: 1rem;
}

.listing-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
}

.price,
.location {
  text-align: right;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

.custom-ratings {
  display: flex;
  justify-content: space-between;
}

.pagination {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
}

.pagination a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.pagination a:hover {
  color: var(--bg-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

#active-pagination {
  color: var(--bg-color);
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
}

/* first page Dynamic DropDown */
.dynamic-dropdown {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.dynamic-dropdown select {
  padding: 5px;
  outline: 2px solid var(--second-color);
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
}
